<div class="about_us">
<h1>About Us</h1>
<p>EasyShop is an online store where the products available in the shops nearby are effectively listed. Users can easily check the availability of the products they want, can compare the cost and offers available at various shops accordingly visit the specific shop without wasting their time bouncing from one shop to the other and comparing the products in a naive and outdated fashion, they can even avail homedelivery facility with some selected products, and get their order delivered within a few hours &gt&gtSPEED&lt&lt </p>
<p> With EasyShop the products which do not get space in popular online stores, the products produced by local vendors can also scale high with the power of internet &gt&gtPOWER TO ALL&lt&lt .</p>
<p>EasyShop not only makes the life of customers comfortable but also facilitates various shop keepers to take their business online with some simple steps &gt&gtSCALABILITY&lt&lt</p>
<p> Feeling hungry but don't want to go out? then why just limit yourself to pizza as the only option? Go to EasyShop.com and browse various food stuff availabe nearby you and order &gt&gtEATABLES&lt&lt.</p>  
<p> 90% of the products sold by online stores weigh less than 2kg, with EasyShop even products like study table, washing machines etc. can be delivered with appropriate shipping/delivery charges.</p>
<p> Not only products, EasyShop will be expanding its scope to various local services such as CAB FACILITY online etc. in sort the local market will be available online</p>

<p> Above all the site when fully functional will be free for both Sellers (shopkeepers, vendors, local producers) And Buyers(customers) &gt&gtFREE&lt&lt </p>
<p>EasyShop is Developed using Ruby On Rails (or simply rails) framework, it is a full stack framework providing various advanced features making web development a lot managed and less cumbersome</p>
<BR>
<p> REMAINING MODULES </p>
<p>1. Search box</p>
<p>2. Interactive UI for sellers </p>
<p>3. module to filter products based on shop or category </p>
<p>4. Deployment </p>
</div>
