<div id="contact">
<p><b>Contact us:</b></p><br/>
<table>
	<tr>
		<td>
<p>Join us on facebook:<b></td>
	<td>
<a href = "http://www.facebook.com/easyshop" target="_blank">Facebook</a></td>
<td>
<%= image_tag("facebook.png") %></td>
</tr>
<tr>
	<td>
<p>Join us on twitter:</p></td>
<td>
<a href = "http://www.twitter.com/easyshop" target="_blank">Twitter</a></td>
<td>
<%= image_tag("twitter.png") %>
</td>
</tr>
<tr>
	<td>
<p>Or mail us at:</p></td>
<td> <p> contact@easyshop.co.in </p></td>


</tr>
</table>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
