// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#columns_order
{
	background:#BF0000;
	position:absolute;
	top:14em;
	left:0em;
	height:100% !important;
	width:100%	 !important;
}
